////
///     This file contains the huge color table
////

$colors: (

    // Types
    acciaio: (normale: #AAAABB, light: #DFDFE1, dark: #74747B),
    acqua: (normale: #3399FF, light: #9FCEFF, dark: #0D6AC8),
    buio: (normale: #775544, light: #BDA396, dark: #442C21),
    coleottero: (normale: #AABB22, light: #DAEC44, dark: #849400),
    drago: (normale: #7766EE, light: #A194FF, dark: #31229D),
    elettro: (normale: #FFCC33, light: #FFEEBC, dark: #BD8E00),
    erba: (normale: #77CC55, light: #BDFFA3, dark: #299100),
    folletto: (normale: #FFAAFF, light: #FFDDFF, dark: #EC67EA),
    fuoco: (normale: #FF4422, light: #FF927D, dark: #BA1F00),
    ghiaccio: (normale: #77DDFF, light: #DBF6FF, dark: #13A8D9),
    lotta: (normale: #BB5544, light: #EA9A8D, dark: #912E1E),
    normale: (normale: #BBBBAA, light: #E7E7D8, dark: #8A8A7B),
    psico: (normale: #FF5599, light: #FF9CC4, dark: #D00053),
    roccia: (normale: #BBAA66, light: #E1D08C, dark: #88762C),
    spettro: (normale: #6666BB, light: #9F9FEC, dark: #42428E),
    terra: (normale: #DDBB55, light: #F1DDA0, dark: #B59226),
    veleno: (normale: #AA5599, light: #C689BA, dark: #792F6A),
    volante: (normale: #6699FF, light: #9CBDFF, dark: #3678FF),

    // Other types
    ombra: (normale: #604E82, light: #3E3355, dark: #8674A8),
    sconosciuto: (normale: #68A090, light: #9DC1B7, dark: #44685E),

    // Damage categories
    fisico: (normale: #C92112, light: #D96358, dark: #82150B, text: #F67A1A),
    speciale: (normale: #4F5870, light: #83899A, dark: #333948, text: #FFFFFF),
    stato: (normale: #8C888C, light: #AEABAE, dark: #5B585B, text: #F7F7F7),

    // Main games
    verde: (normale: #11BB11, light: #A7DB8D, dark: #0B7A0B),
    rosso: (normale: #FF1111, light: #FF7777, dark: #A60B0B),
    blu: (normale: #1111FF, light: #7777FF, dark: #0B0BA6),
    giallo: (normale: #FFD733, light: #FFE57A, dark: #A68C21),
    oro: (normale: #DAA520, light: #E7C46E, dark: #8E6B15),
    argento: (normale: #C0C0C0, light: #D6D6D6, dark: #7D7D7D),
    cristallo: (normale: #4FD9FF, light: #8CE6FF, dark: #338DA6),
    rubino: (normale: #A00000, light: #D42E2E, dark: #680000),
    zaffiro: (normale: #0000A0, light: #5959C1, dark: #000068),
    rosso-fuoco: (normale: #FF7327, light: #FFA472, dark: #A64B19),
    verde-foglia: (normale: #00DD00, light: #59E959, dark: #015701),
    smeraldo: (normale: #00A000, light: #2ED42E, dark: #006800),
    diamante: (normale: #AAAAFF, light: #CCCCFF, dark: #6F6FA6),
    perla: (normale: #FFAAAA, light: #FFC8C8, dark: #A66F6F),
    platino: (normale: #999999, light: #BDBDBD, dark: #646464),
    heartgold: (normale: #B69E00, light: #CEB654, dark: #766700),
    soulsilver: (normale: #C0C0E1, light: #D6D6EB, dark: #7D7D92),
    nero: (normale: #444444, light: #858585, dark: #2C2C2C),
    bianco: (normale: #C3C3C3, light: #D8D8D8, dark: #7F7F7F),
    nero-2: (normale: #424B50, light: #848A8D, dark: #2B3134),
    bianco-2: (normale: #E3CED0, light: #EDDFE0, dark: #948687),
    x: (normale: #025DA6, light: #5A96C5, dark: #013D6C),
    y: (normale: #EA1A3E, light: #F16A81, dark: #981128),
    rubino-omega: (normale: #AB2813, light: #C87365, dark: #6F1A0C),
    zaffiro-alpha: (normale: #26649C, light: #729ABF, dark: #194166),
    sole: (normale: #F2952D, light: #FFC587, dark: #A45500),
    luna: (normale: #5599C8, light: #9ACFF4, dark: #155785),

    // Mystery Dungeon games
    md-rosso: (normale: #C50C50, light: #D85C8A, dark: #840836),
    md-blu: (normale: #095BAF, light: #5A91C9, dark: #063D75),
    md-tempo: (normale: #2190C7, light: #6AB5D9, dark: #166185),
    md-oscurità: (normale: #C3141B, light: #D76166, dark: #830D12),
    md-cielo: (normale: #7BB54F, light: #A6CD89, dark: #527935),
    md-portali: (normale: #7D6A7A, light: #AE9EAC, dark: #4D3249),
    md-super: (normale: #A5A3D2, light: #CCC9FF, dark: #7471A6),

    // Ranger games
    ranger: (normale: #F7681A, light: #FA9D6A, dark: #A14411),
    osa: (normale: #2D4B98, light: #768ABC, dark: #1D3163),
    tl: (normale: #2CB8E9, light: #76D1F1, dark: #1D7898),

    // Other games
    colosseum: (normale: #B6CAE4, light: #CFDCED, dark: #768394),
    xd: (normale: #604E82, light: #8674A8, dark: #3E3355),
    battle-revolution: (normale: #DCA202, light: #FFD461, dark: #684D02),

    // Main regions
    kanto: (normale: #6A12AB, light: #9E65C8, dark: #360A58),
    johto: (normale: #00647f, light: #1CB0D9, dark: #023D4E),
    hoenn: (normale: #1AB81A, light: #65CF65, dark: #117B11),
    sinnoh: (normale: #47443A, light: #9F9982, dark: #272520),
    unima: (normale: #CB410B, light: #DA7953, dark: #8E2D07),
    kalos: (normale: #CB0B4F, light: #CF517E, dark: #870735),
    kalos-montana: (normale: #981128, light: #EA1A3E, dark: #76071A),
    kalos-costiera: (normale: #013D6C, light: #026FC4, dark: #002847),
    kalos-centrale: (normale: #D1D1D1, light: #EAEAEA, dark: #BBBBBB),
    alola: (normale: #FFD900, light: #FFE86A, dark: #EC9000),

    // Other regions
    settipelago: (normale: #52CC91, light: #8DEBBC, dark: #2B915E),
    auros: (normale: #817548, light: #ADA588, dark: #544C2F),

    // Anime regions
    orange: (normale: #FF7F00, light: #FFAC59, dark: #A65300),
    cristalline: (normale: #FFB200, light: #FFD36B, dark: #AE7E00),

    // Stats
    ps: (normale: #FF0000, light: #FF5959, dark: #A60000),
    attacco: (normale: #F08030, light: #F5AC78, dark: #9C531F),
    difesa: (normale: #F8D030, light: #FAE078, dark: #A1871F),
    attacco-speciale: (normale: #6890F0, light: #9DB7F5, dark: #445E9C),
    difesa-speciale: (normale: #78C850, light: #A7DB8D, dark: #4E8234),
    velocità: (normale: #F85888, light: #FA92B2, dark: #A13959),

    // PokéAthlon stats
    forza: (normale: #FF4131, light: #FF9494, dark: #BD2018),
    resistenza: (normale: #EECD31, light: #FFE683, dark: #C58308),
    thlon: (normale: #90a8e0, light: #B7C6EB, dark: #5E6D92), // check aliases

    // PCWiki
    pcwiki: (normale: #9FC1E7, light: #E4ECF5, medium-light: #CEE0F4, dark: #437DBF, medium-dark: #779FD3),

    // Time
    notte: (normale: #003366, light: #597A9B, dark: #002347, text: #FFFF99),
    mattina: (normale: #FFFFAA, light: #FFFFC8, dark: #B3B377, text: #000000),
    giorno: (normale: #5ED0FF, light: #96E0FF, dark: #4192B3, text: #000000),
    sera: (normale: #FF8741, light: #FEAD7E, dark: #AD3F00, text: #000000),

    // Seasons
    inverno: (normale: #F0D8F8, light: #F4E3FA, dark: #A897AE),
    primavera: (normale: #B0F858, light: #C7FA89, dark: #7BAE3D),
    estate: (normale: #78D0F8, light: #A0DEFA, dark: #5492AE),
    autunno: (normale: #F89058, light: #FAB189, dark: #AE653D),

    // Contests
    acume: (normale: #78C850, light: #A7DB8D, dark: #4E8234),
    bellezza: (normale: #6890F0, light: #9DB7F5, dark: #445E9C),
    classe: (normale: #F08030, light: #F5AC78, dark: #9C531F),
    grazia: (normale: #F85888, light: #FA92B2, dark: #A13959),
    grinta: (normale: #F8D030, light: #FAE078, dark: #A1871F),
    gara: (normale: #E090A8, light: #EBB7C6, dark: #925E6D),

    // Misc
    // arancione -> orange
    bulba: (normale: #C4E673, light: #E0F2B6, dark: #80964B),
    background: (normale: #EAEAEA),
    ffffff: (normale: #FFFFFF),
    bronzo: (normale: #DEAB79, light: #EBCDAF, dark: #856749),
    camilla: (normale: #525252, light: #8E8E8E, dark: #353535),
    nardo: (normale: #E88058, light: #F0AA8F, dark: #C84040),
    diantha: (normale: #E64A80, light: #F08FB1, dark: #A5385C),
    dw: (normale: #EF52B2, light: #FFC0CB, dark: #C6007B),
    ghicocca: (normale: #F0A018, light: #F8C038, dark: #A05840),
    olio: (normale: #BAB1C9, light: #DCD7E3, dark: #978CAE),

    Supporto_gcc: (normale: #DC2222, light: #E66363, dark: #9A1717),
    PCWiki: (normale: #9FC1E7, light: #E4ECF5, dark: #437DBF),
    acqua gcc: (normale: #5BC7E5, light: #94DBEE, dark: #3B8295),
    zona_Sabbia: (normale: #D6BD7C, light: #DBCFA0, dark: #B59B59),
    parco_lotta: (normale: #3FA9D0, light: #82C7E0, dark: #296E87),
    folletto gcc: (normale: #E03A83, light: #EA7EAE, dark: #912555),
    agilita: (normale: #38BD62, light: #83EEA4, dark: #188339),
    Sole: (normale: #F2952D, light: #FFC587, dark: #A45500),
    Hoenn: (normale: #1AB81A, light: #65CF65, dark: #117B11),
    supporto_gcc: (normale: #DC2222, light: #E66363, dark: #9A1717),
    Platino: (normale: #999999, light: #BDBDBD, dark: #646464),
    zona_vulcano: (normale: #D20000, light: #D23434, dark: #A30000),
    Lotta: (normale: #BB5544, light: #EA9A8D, dark: #912E1E),
    Acqua gcc: (normale: #5BC7E5, light: #94DBEE, dark: #3B8295),
    Rubinoomega: (normale: #AB2813, light: #C87365, dark: #6F1A0C),
    Parco_lotta: (normale: #3FA9D0, light: #82C7E0, dark: #296E87),
    Folletto gcc: (normale: #E03A83, light: #EA7EAE, dark: #912555),
    zona_Coleottero: (normale: #AABB22, light: #DAEC44, dark: #849400),
    Agilita: (normale: #38BD62, light: #83EEA4, dark: #188339),
    folletto_gcc: (normale: #E03A83, light: #EA7EAE, dark: #912555),
    zona_Rovine: (normale: #BFB895, light: #EBE5CA, dark: #9E9773),
    pokébody_gcc: (normale: #146837, light: #5A9572, dark: #0E4926),
    Diantha: (normale: #E64A80, light: #F08FB1, dark: #A5385C),
    strumento gcc: (normale: #7777EE, light: #A6A6F4, dark: #4D4D9B),
    Azienda: (normale: #3291C1, light: #7AB7D7, dark: #215E7E),
    oscurità_gcc: (normale: #2C2E2B, light: #767775, dark: #1D1E1C),
    Md cielo: (normale: #7BB54F, light: #A6CD89, dark: #527935),
    zona_distorsione: (normale: #5A65DB, light: #CC8562, dark: #2622A8),
    zona_montagna: (normale: #B8907D, light: #D4B5A7, dark: #7A5443),
    serpe: (normale: #7D000C, light: #B51826, dark: #300105),
    zona_Fuoco: (normale: #FF4422, light: #FF927D, dark: #BA1F00),
?: (normale: #68A090, light: #9DC1B7, dark: #44685E),
Pokébody_gcc: (normale: #146837, light: #5A9572, dark: #0E4926),
zona_Ghiaccio: (normale: #77DDFF, light: #DBF6FF, dark: #13A8D9),
B: (normale: #68A090, light: #9DC1B7, dark: #44685E),
Acume: (normale: #78C850, light: #A7DB8D, dark: #4E8234),
zona_folletto: (normale: #FFAAFF, light: #FFDDFF, dark: #EC67EA),
mdsuper: (normale: #A5A3D2, light: #CCC9FF, dark: #7471A6),
zona_Spazio: (normale: #222222, light: #555555, dark: #000000),
aspro: (normale: #F8D030, light: #FAE078, dark: #A1871F),
Cristalli_Z: (normale: #AB6B07, light: #FFC039, dark: #482C04),
Orange: (normale: #FF7F00, light: #FFAC59, dark: #A65300),
zona_Coleot: (normale: #AABB22, light: #DAEC44, dark: #849400),
Y: (normale: #EA1A3E, light: #F16A81, dark: #981128),
X: (normale: #025DA6, light: #5A96C5, dark: #013D6C),
Serpe: (normale: #7D000C, light: #B51826, dark: #300105),
Arena: (normale: #FFC115, light: #FFD767, dark: #A67E0E),
zona_Normale: (normale: #BBBBAA, light: #E7E7D8, dark: #8A8A7B),
Super md: (normale: #A5A3D2, light: #CCC9FF, dark: #7471A6),
zona_bosco: (normale: #3A822D, light: #71AD64, dark: #34612D),
Giorno_text000000
spdef: (normale: #78C850, light: #A7DB8D, dark: #4E8234),
'l) m) ZM: (normale: #68A090, light: #9DC1B7, dark: #44685E),
mdtempo: (normale: #2190C7, light: #6AB5D9, dark: #166185),
zona_sand: (normale: #D6BD7C, light: #DBCFA0, dark: #B59B59),
zona_Distorsione: (normale: #5A65DB, light: #CC8562, dark: #2622A8),
Orre: (normale: #817548, light: #ADA588, dark: #544C2F),
cristalliz: (normale: #AB6B07, light: #FFC039, dark: #482C04),
Attaccospeciale: (normale: #6890F0, light: #9DB7F5, dark: #445E9C),
Dojo: (normale: #20811D, light: #2DBA29, dark: #043503),
Olio: (normale: #BAB1C9, light: #DCD7E3, dark: #978CAE),
stadio gcc: (normale: #90E183, light: #B7EBAE, dark: #5E9255),
Velocità: (normale: #F85888, light: #FA92B2, dark: #A13959),
Pepato: (normale: #F08030, light: #F5AC78, dark: #9C531F),
zona_Grotta: (normale: #CC8F66, light: #E0B192, dark: #A66A42),
super md: (normale: #A5A3D2, light: #CCC9FF, dark: #7471A6),
Mdtempo: (normale: #2190C7, light: #6AB5D9, dark: #166185),
Strumentibase: (normale: #9048D8, light: #A058E8, dark: #7838C0),
Cristalliz: (normale: #AB6B07, light: #FFC039, dark: #482C04),
cupola: (normale: #AD32DA, light: #D35CFF, dark: #71009B),
dojo: (normale: #20811D, light: #2DBA29, dark: #043503),
combattimento_gcc: (normale: #FF501F, light: #FF8D6D, dark: #A63414),
pepato: (normale: #F08030, light: #F5AC78, dark: #9C531F),
zona_underwater: (normale: #6053AD, light: #737AC7, dark: #553894),
aiuto_gcc: (normale: #DC2222, light: #E66363, dark: #9A1717),
zona_ghiaccio: (normale: #77DDFF, light: #DBF6FF, dark: #13A8D9),
strumentibase: (normale: #9048D8, light: #A058E8, dark: #7838C0),
Auros: (normale: #817548, light: #ADA588, dark: #544C2F),
zona_Citta: (normale: #D9D9D9, light: #E6E6E6, dark: #CCCCCC),
osA: (normale: #2D4B98, light: #768ABC, dark: #1D3163),
zona_city: (normale: #D9D9D9, light: #E6E6E6, dark: #CCCCCC),
Cupola: (normale: #AD32DA, light: #D35CFF, dark: #71009B),
strumenti lotta: (normale: #3070E0, light: #4880F0, dark: #2058C8),
Kalosmo: (normale: #981128, light: #EA1A3E, dark: #76071A),
Mattina: (normale: #FFFFAA, light: #FFFFC8, dark: #B3B377),
kalosce: (normale: #D1D1D1, light: #EAEAEA, dark: #BBBBBB),
Oscurita gcc: (normale: #2C2E2B, light: #767775, dark: #1D1E1C),
zona_Montagna: (normale: #B8907D, light: #D4B5A7, dark: #7A5443),
zona_Strada: (normale: #ABA9A4, light: #CFCDC7, dark: #949391),
BackgroundEAEAEA
zona_fuoco: (normale: #FF4422, light: #FF927D, dark: #BA1F00),
OsA: (normale: #2D4B98, light: #768ABC, dark: #1D3163),
Strumenti lotta: (normale: #3070E0, light: #4880F0, dark: #2058C8),
Zaffiroalpha: (normale: #26649C, light: #729ABF, dark: #194166),
kalosmo: (normale: #981128, light: #EA1A3E, dark: #76071A),
MT e MN: (normale: #80A820, light: #90C030, dark: #709018),
Kalosce: (normale: #D1D1D1, light: #EAEAEA, dark: #BBBBBB),
oscurita gcc: (normale: #2C2E2B, light: #767775, dark: #1D1E1C),
zona_snow: (normale: #DCEBEF, light: #E1EFF2, dark: #BBCDD1),
mdblu: (normale: #095BAF, light: #5A91C9, dark: #063D75),
zona_volante: (normale: #6699FF, light: #9CBDFF, dark: #3678FF),
zona_Vulcano: (normale: #D20000, light: #D23434, dark: #A30000),
zona_building: (normale: #A8B9BD, light: #C3D8DE, dark: #8A9CA1),
thlon: (normale: #90a8e0, light: #B7C6EB, dark: #5E6D92),
strumentilotta: (normale: #3070E0, light: #4880F0, dark: #2058C8),
parcolotta: (normale: #3FA9D0, light: #82C7E0, dark: #296E87),
Rubino Omega: (normale: #AB2813, light: #C87365, dark: #6F1A0C),
incolore_gcc: (normale: #E5D6D0, light: #EEE4E0, dark: #958B87),
zona_veleno: (normale: #AA5599, light: #C689BA, dark: #792F6A),
zona_nebbia: (normale: #B5ADC7, light: #CAC1DE, dark: #9E98AD),
kalosmontana: (normale: #981128, light: #EA1A3E, dark: #76071A),
Messaggi: (normale: #1890B0, light: #18A8D0, dark: #208090),
Verdefoglia: (normale: #00DD00, light: #59E959, dark: #015701),
zona_rovine: (normale: #BFB895, light: #EBE5CA, dark: #9E9773),
Folletto: (normale: #FFAAFF, light: #FFDDFF, dark: #EC67EA),
abilità_gcc: (normale: #C84923, light: #D87F64, dark: #8C3318),
Thlon: (normale: #90a8e0, light: #B7C6EB, dark: #5E6D92),
Ombra: (normale: #604E82, light: #3E3355, dark: #8674A8),
Parcolotta: (normale: #3FA9D0, light: #82C7E0, dark: #296E87),
Mdrosso: (normale: #C50C50, light: #D85C8A, dark: #840836),
Md_oscurità: (normale: #C3141B, light: #D76166, dark: #830D12),
Abilità: (normale: #317BEE, light: #83B4FF, dark: #2052A4),
acciaio: (normale: #AAAABB, light: #DFDFE1, dark: #74747B),
Kalosmontana: (normale: #981128, light: #EA1A3E, dark: #76071A),
messaggi: (normale: #1890B0, light: #18A8D0, dark: #208090),
Abilità_gcc: (normale: #C84923, light: #D87F64, dark: #8C3318),
zona_spazio: (normale: #222222, light: #555555, dark: #000000),
oscurita_gcc: (normale: #2C2E2B, light: #767775, dark: #1D1E1C),
poképower_gcc: (normale: #850921, light: #A95263, dark: #5D0617),
zona_mountain: (normale: #B8907D, light: #D4B5A7, dark: #7A5443),
cristalli z: (normale: #AB6B07, light: #FFC039, dark: #482C04),
Camilla: (normale: #525252, light: #8E8E8E, dark: #353535),
supermd: (normale: #A5A3D2, light: #CCC9FF, dark: #7471A6),
colo: (normale: #B6CAE4, light: #CFDCED, dark: #768394),
zona_palude: (normale: #7792BD, light: #BDA595, dark: #3D6633),
zona_palazzo: (normale: #A8B9BD, light: #C3D8DE, dark: #8A9CA1),
abilità: (normale: #317BEE, light: #83B4FF, dark: #2052A4),
Acciaio: (normale: #AAAABB, light: #DFDFE1, dark: #74747B),
Amaro: (normale: #78C850, light: #A7DB8D, dark: #4E8234),
Estate: (normale: #78D0F8, light: #A0DEFA, dark: #5492AE),
orre: (normale: #817548, light: #ADA588, dark: #544C2F),
Oscurita_gcc: (normale: #2C2E2B, light: #767775, dark: #1D1E1C),
Poképower_gcc: (normale: #850921, light: #A95263, dark: #5D0617),
Strumentilotta: (normale: #3070E0, light: #4880F0, dark: #2058C8),
PokéAthlon: (normale: #90a8e0, light: #B7C6EB, dark: #5E6D92),
Cristalli z: (normale: #AB6B07, light: #FFC039, dark: #482C04),
Dolce: (normale: #F85888, light: #FA92B2, dark: #A13959),
Nero_2: (normale: #424B50, light: #848A8D, dark: #2B3134),
lampo gcc: (normale: #FAB536, light: #FCCE7C, dark: #A37523),
zona_elettro: (normale: #FFCC33, light: #FFEEBC, dark: #BD8E00),
zona_Acciaio: (normale: #AAAABB, light: #DFDFE1, dark: #74747B),
cristalli_Z: (normale: #AB6B07, light: #FFC039, dark: #482C04),
Md: (normale: #D78144, light: #DECAA9, dark: #7C4B2D),
Fabbrica: (normale: #3291C1, light: #7AB7D7, dark: #215E7E),
Cristallo: (normale: #4FD9FF, light: #8CE6FF, dark: #338DA6),
zona_Blu: (normale: #1111FF, light: #7777FF, dark: #0B0BA6),
Veleno: (normale: #AA5599, light: #C689BA, dark: #792F6A),
mdrosso: (normale: #C50C50, light: #D85C8A, dark: #840836),
Rosso: (normale: #FF1111, light: #FF7777, dark: #A60B0B),
coleot: (normale: #AABB22, light: #DAEC44, dark: #849400),
erba gcc: (normale: #7DB808, light: #AAD15E, dark: #517805),
fabbrica: (normale: #3291C1, light: #7AB7D7, dark: #215E7E),
Resistenza: (normale: #EECD31, light: #FFE683, dark: #C58308),
Blu: (normale: #1111FF, light: #7777FF, dark: #0B0BA6),
zona_cave: (normale: #CC8F66, light: #E0B192, dark: #A66A42),
XD: (normale: #604E82, light: #8674A8, dark: #3E3355),
zona_Rosso: (normale: #FF1111, light: #FF7777, dark: #A60B0B),
Palco: (normale: #F87A97, light: #FFADC0, dark: #A14F62),
super_md: (normale: #A5A3D2, light: #CCC9FF, dark: #7471A6),

poké Ball: (normale: #C88820, light: #E0A038, dark: #B87008),
Piramide: (normale: #FF5900, light: #FF9049, dark: #A13500),
Bianco: (normale: #C3C3C3, light: #D8D8D8, dark: #7F7F7F),
Xd: (normale: #604E82, light: #8674A8, dark: #3E3355),
palco: (normale: #F87A97, light: #FFADC0, dark: #A14F62),
Argento: (normale: #C0C0C0, light: #D6D6D6, dark: #7D7D7D),
Mdoscurità: (normale: #C3141B, light: #D76166, dark: #830D12),
Johto: (normale: #00647f, light: #1CB0D9, dark: #023D4E),
md: (normale: #D78144, light: #DECAA9, dark: #7C4B2D),
oscurità gcc: (normale: #2C2E2B, light: #767775, dark: #1D1E1C),
' ♀ ♀ ' 2222 37572: (normale: #68A090, light: #9DC1B7, dark: #44685E),
zona_road: (normale: #ABA9A4, light: #CFCDC7, dark: #949391),
RubinoOmega: (normale: #AB2813, light: #C87365, dark: #6F1A0C),
Kalosco: (normale: #013D6C, light: #026FC4, dark: #002847),
erba_gcc: (normale: #7DB808, light: #AAD15E, dark: #517805),
pokébody gcc: (normale: #146837, light: #5A9572, dark: #0E4926),
zona_forest: (normale: #3A822D, light: #71AD64, dark: #34612D),
mdoscurità: (normale: #C3141B, light: #D76166, dark: #830D12),
kalos centrale: (normale: #D1D1D1, light: #EAEAEA, dark: #BBBBBB),
Md rosso: (normale: #C50C50, light: #D85C8A, dark: #840836),
zona_Foresta: (normale: #3A822D, light: #71AD64, dark: #34612D),
zona_normale: (normale: #BBBBAA, light: #E7E7D8, dark: #8A8A7B),
Velocita: (normale: #F85888, light: #FA92B2, dark: #A13959),
Zaffiro: (normale: #0000A0, light: #5959C1, dark: #000068),
x v zA: (normale: #68A090, light: #9DC1B7, dark: #44685E),
kalos costiera: (normale: #013D6C, light: #026FC4, dark: #002847),
zona_Volante: (normale: #6699FF, light: #9CBDFF, dark: #3678FF),
Pokébody gcc: (normale: #146837, light: #5A9572, dark: #0E4926),
Nardo: (normale: #E88058, light: #F0AA8F, dark: #C84040),
PCwiki: (normale: #9FC1E7, light: #E4ECF5, dark: #437DBF),
Poké Ball: (normale: #C88820, light: #E0A038, dark: #B87008),
Notte_textFFFF99
Strumenti base: (normale: #9048D8, light: #A058E8, dark: #7838C0),
velocita: (normale: #F85888, light: #FA92B2, dark: #A13959),
Terra: (normale: #DDBB55, light: #F1DDA0, dark: #B59226),
Kalos costiera: (normale: #013D6C, light: #026FC4, dark: #002847),
IIIItoto: (normale: #68A090, light: #9DC1B7, dark: #44685E),
zona_Spettro: (normale: #6666BB, light: #9F9FEC, dark: #42428E),
Poképower gcc: (normale: #850921, light: #A95263, dark: #5D0617),
zona_Roccia: (normale: #BBAA66, light: #E1D08C, dark: #88762C),
allenatore gcc: (normale: #FFE955, light: #FFFCE4, dark: #B3A33B),
poké-body gcc: (normale: #146837, light: #5A9572, dark: #0E4926),
Secco: (normale: #6890F0, light: #9DB7F5, dark: #445E9C),
zona_coleottero: (normale: #AABB22, light: #DAEC44, dark: #849400),
zona_Nebbia: (normale: #B5ADC7, light: #CAC1DE, dark: #9E98AD),
strumenti base: (normale: #9048D8, light: #A058E8, dark: #7838C0),
Abilita_gcc: (normale: #C84923, light: #D87F64, dark: #8C3318),
Trainer_gcc: (normale: #FFE955, light: #FFFCE4, dark: #B3A33B),
Allenatore_gcc: (normale: #FFE955, light: #FFFCE4, dark: #B3A33B),
zona_ash: (normale: #9C8583, light: #B8A09E, dark: #856765),
kalosco: (normale: #013D6C, light: #026FC4, dark: #002847),
Erba_gcc: (normale: #7DB808, light: #AAD15E, dark: #517805),
zona_lago: (normale: #66BDCC, light: #85D4DE, dark: #538FBD),
Sconosciuto: (normale: #68A090, light: #9DC1B7, dark: #44685E),
poképower gcc: (normale: #850921, light: #A95263, dark: #5D0617),
Erba: (normale: #77CC55, light: #BDFFA3, dark: #299100),
zona_fog: (normale: #B5ADC7, light: #CAC1DE, dark: #9E98AD),
Allenatore gcc: (normale: #FFE955, light: #FFFCE4, dark: #B3A33B),
Poké-body gcc: (normale: #146837, light: #5A9572, dark: #0E4926),
SoulSilver: (normale: #C0C0E1, light: #D6D6EB, dark: #7D7D92),
abilita_gcc: (normale: #C84923, light: #D87F64, dark: #8C3318),
zona_grotta: (normale: #CC8F66, light: #E0B192, dark: #A66A42),
zona_acqua: (normale: #3399FF, light: #9FCEFF, dark: #0D6AC8),
Perla: (normale: #FFAAAA, light: #FFC8C8, dark: #A66F6F),
Buio: (normale: #775544, light: #BDA396, dark: #442C21),
arancione: (normale: #FF7F00, light: #FFAC59, dark: #A65300),
Bronzo: (normale: #DEAB79, light: #EBCDAF, dark: #856749),
Ghiaccio: (normale: #77DDFF, light: #DBF6FF, dark: #13A8D9),
Bianco_2: (normale: #E3CED0, light: #EDDFE0, dark: #948687),
Rubino: (normale: #A00000, light: #D42E2E, dark: #680000),
poké-power gcc: (normale: #850921, light: #A95263, dark: #5D0617),
zona_Lotta: (normale: #BB5544, light: #EA9A8D, dark: #912E1E),
Tl: (normale: #2CB8E9, light: #76D1F1, dark: #1D7898),
Md oscurità: (normale: #C3141B, light: #D76166, dark: #830D12),
Md_rosso: (normale: #C50C50, light: #D85C8A, dark: #840836),
md blu: (normale: #095BAF, light: #5A91C9, dark: #063D75),
psiche_gcc: (normale: #A65E9A, light: #C596BD, dark: #6C3D64),
Ghicocca: (normale: #F0A018, light: #F8C038, dark: #A05840),
999: (normale: #68A090, light: #9DC1B7, dark: #44685E),
zona_psico: (normale: #FF5599, light: #FF9CC4, dark: #D00053),
trainer gcc: (normale: #FFE955, light: #FFFCE4, dark: #B3A33B),
Forza: (normale: #FF4131, light: #FF9494, dark: #BD2018),
Cristalli_z: (normale: #AB6B07, light: #FFC039, dark: #482C04),
zona_lake: (normale: #66BDCC, light: #85D4DE, dark: #538FBD),
Poké-power gcc: (normale: #850921, light: #A95263, dark: #5D0617),
pokéball: (normale: #C88820, light: #E0A038, dark: #B87008),
Strumenti: (normale: #C86890, light: #D880A8, dark: #B85078),
zona_Folletto: (normale: #FFAAFF, light: #FFDDFF, dark: #EC67EA),
secco: (normale: #6890F0, light: #9DB7F5, dark: #445E9C),
zona_volcano: (normale: #D20000, light: #D23434, dark: #A30000),
Difesa_speciale: (normale: #78C850, light: #A7DB8D, dark: #4E8234),
md oscurità: (normale: #C3141B, light: #D76166, dark: #830D12),
Nero 2: (normale: #424B50, light: #848A8D, dark: #2B3134),
unova: (normale: #CB410B, light: #DA7953, dark: #8E2D07),
Mdcielo: (normale: #7BB54F, light: #A6CD89, dark: #527935),
Combattimento gcc: (normale: #FF501F, light: #FF8D6D, dark: #A63414),
zona_roccia: (normale: #BBAA66, light: #E1D08C, dark: #88762C),
zona_terra: (normale: #75C977, light: #A2E0A3, dark: #4AA14D),
spatk: (normale: #6890F0, light: #9DB7F5, dark: #445E9C),
Supermd: (normale: #A5A3D2, light: #CCC9FF, dark: #7471A6),
Difesaspeciale: (normale: #78C850, light: #A7DB8D, dark: #4E8234),
Oro: (normale: #DAA520, light: #E7C46E, dark: #8E6B15),
Soulsilver: (normale: #C0C0E1, light: #D6D6EB, dark: #7D7D92),
Bianco 2: (normale: #E3CED0, light: #EDDFE0, dark: #948687),
pokéathlon: (normale: #90a8e0, light: #B7C6EB, dark: #5E6D92),
mdcielo: (normale: #7BB54F, light: #A6CD89, dark: #527935),
torre: (normale: #D6553C, light: #E49080, dark: #8B3727),
zona_caverna: (normale: #CC8F66, light: #E0B192, dark: #A66A42),
Glitch: (normale: #68A090, light: #9DC1B7, dark: #44685E),
Sera: (normale: #FF8741, light: #FEAD7E, dark: #AD3F00),
agilità: (normale: #38BD62, light: #83EEA4, dark: #188339),
Pokéball: (normale: #C88820, light: #E0A038, dark: #B87008),
Md tempo: (normale: #2190C7, light: #6AB5D9, dark: #166185),
zona_foresta: (normale: #3A822D, light: #71AD64, dark: #34612D),
Difesa_Speciale: (normale: #78C850, light: #A7DB8D, dark: #4E8234),
Roccia: (normale: #BBAA66, light: #E1D08C, dark: #88762C),
zona_giallo: (normale: #FFD733, light: #FFE57A, dark: #A68C21),
trainer_gcc: (normale: #FFE955, light: #FFFCE4, dark: #B3A33B),
Rosso Fuoco: (normale: #FF7327, light: #FFA472, dark: #A64B19),
acqua_gcc: (normale: #5BC7E5, light: #94DBEE, dark: #3B8295),
zona_oceano: (normale: #485CC2, light: #5A98F5, dark: #1E3F94),
zona_ocean: (normale: #485CC2, light: #5A98F5, dark: #1E3F94),
Verde: (normale: #11BB11, light: #A7DB8D, dark: #0B7A0B),
zona_Oceano: (normale: #485CC2, light: #5A98F5, dark: #1E3F94),
zona_Neve: (normale: #DCEBEF, light: #E1EFF2, dark: #BBCDD1),
Acqua: (normale: #3399FF, light: #9FCEFF, dark: #0D6AC8),
(Classe dell'ultimo allenatore affrontato): (normale: #68A090, light: #9DC1B7, dark: #44685E),
zona_ruins: (normale: #BFB895, light: #EBE5CA, dark: #9E9773),
zona_Ombra: (normale: #472E63, light: #604E82, dark: #1A0A2C),
Autunno: (normale: #F89058, light: #FAB189, dark: #AE653D),
Verde Foglia: (normale: #00DD00, light: #59E959, dark: #015701),
zona_Verde: (normale: #11BB11, light: #A7DB8D, dark: #0B7A0B),
Elettro: (normale: #FFCC33, light: #FFEEBC, dark: #BD8E00),
Oscurità gcc: (normale: #2C2E2B, light: #767775, dark: #1D1E1C),
zona_Edificio: (normale: #A8B9BD, light: #C3D8DE, dark: #8A9CA1),
Torre: (normale: #D6553C, light: #E49080, dark: #8B3727),
Rossofuoco: (normale: #FF7327, light: #FFA472, dark: #A64B19),
Speciale_textFFFFFF
Stato: (normale: #8C888C, light: #AEABAE, dark: #5B585B),
Abilita gcc: (normale: #C84923, light: #D87F64, dark: #8C3318),
Classe: (normale: #F08030, light: #F5AC78, dark: #9C531F),
md tempo: (normale: #2190C7, light: #6AB5D9, dark: #166185),
Lampo_gcc: (normale: #FAB536, light: #FCCE7C, dark: #A37523),
Super_md: (normale: #A5A3D2, light: #CCC9FF, dark: #7471A6),
Incolore_gcc: (normale: #E5D6D0, light: #EEE4E0, dark: #958B87),
TL: (normale: #2CB8E9, light: #76D1F1, dark: #1D7898),
psiche gcc: (normale: #A65E9A, light: #C596BD, dark: #6C3D64),
Acqua_gcc: (normale: #5BC7E5, light: #94DBEE, dark: #3B8295),
zona_Terratipo: (normale: #DDBB55, light: #F1DDA0, dark: #B59226),
allenatore_gcc: (normale: #FFE955, light: #FFFCE4, dark: #B3A33B),
Md blu: (normale: #095BAF, light: #5A91C9, dark: #063D75),
Luna: (normale: #5599C8, light: #9ACFF4, dark: #155785),
Strumento gcc: (normale: #7777EE, light: #A6A6F4, dark: #4D4D9B),
zona_Drago: (normale: #7766EE, light: #A194FF, dark: #31229D),
zona_Acqua: (normale: #3399FF, light: #9FCEFF, dark: #0D6AC8),
Ranger: (normale: #F7681A, light: #FA9D6A, dark: #A14411),
nero2: (normale: #424B50, light: #848A8D, dark: #2B3134),
Spettro: (normale: #6666BB, light: #9F9FEC, dark: #42428E),
zona_Erba: (normale: #77CC55, light: #BDFFA3, dark: #299100),
Aiuto_gcc: (normale: #DC2222, light: #E66363, dark: #9A1717),
Battle_revolution: (normale: #DCA202, light: #FFD461, dark: #684D02),
Bianco2: (normale: #E3CED0, light: #EDDFE0, dark: #948687),
Abilità gcc: (normale: #C84923, light: #D87F64, dark: #8C3318),
Nero: (normale: #444444, light: #858585, dark: #2C2C2C),
CristalliZ: (normale: #AB6B07, light: #FFC039, dark: #482C04),
Maniero: (normale: #40AD72, light: #83CAA3, dark: #2A714A),
Allen. Jr ♀: (normale: #68A090, light: #9DC1B7, dark: #44685E),
8 8 9 5: (normale: #68A090, light: #9DC1B7, dark: #44685E),
Giorno: (normale: #5ED0FF, light: #96E0FF, dark: #4192B3),
Stadio gcc: (normale: #90E183, light: #B7EBAE, dark: #5E9255),
palazzo: (normale: #F6F60A, light: #FFFF67, dark: #888600),
Poké-body_gcc: (normale: #146837, light: #5A9572, dark: #0E4926),
Normale (glitch): (normale: #68A090, light: #9DC1B7, dark: #44685E),
Psiche gcc: (normale: #A65E9A, light: #C596BD, dark: #6C3D64),
zona_terratipo: (normale: #DDBB55, light: #F1DDA0, dark: #B59226),
kalos montana: (normale: #981128, light: #EA1A3E, dark: #76071A),
zona_citta: (normale: #D9D9D9, light: #E6E6E6, dark: #CCCCCC),
Mdportali: (normale: #7D6A7A, light: #AE9EAC, dark: #4D3249),
zona_Terra: (normale: #75C977, light: #A2E0A3, dark: #4AA14D),
zona_città: (normale: #D9D9D9, light: #E6E6E6, dark: #CCCCCC),
zona_drago: (normale: #7766EE, light: #A194FF, dark: #31229D),
Mdoscurita: (normale: #C3141B, light: #D76166, dark: #830D12),
Fuoco_gcc: (normale: #E24242, light: #EC8484, dark: #932B2B),
Mdblu: (normale: #095BAF, light: #5A91C9, dark: #063D75),
Pokémon: (normale: #E5653C, light: #E2947C, dark: #A62F19),
Kaloscostiera: (normale: #013D6C, light: #026FC4, dark: #002847),
battle_revolution: (normale: #DCA202, light: #FFD461, dark: #684D02),
bianco2: (normale: #E3CED0, light: #EDDFE0, dark: #948687),
abilità gcc: (normale: #C84923, light: #D87F64, dark: #8C3318),
cristalliZ: (normale: #AB6B07, light: #FFC039, dark: #482C04),
maniero: (normale: #40AD72, light: #83CAA3, dark: #2A714A),
abilita: (normale: #317BEE, light: #83B4FF, dark: #2052A4),
Br: (normale: #DCA202, light: #FFD461, dark: #684D02),
zona_ombra: (normale: #472E63, light: #604E82, dark: #1A0A2C),
Attacco: (normale: #F08030, light: #F5AC78, dark: #9C531F),
Notte: (normale: #003366, light: #597A9B, dark: #002347),
zona_blu: (normale: #1111FF, light: #7777FF, dark: #0B0BA6),
Smeraldo: (normale: #00A000, light: #2ED42E, dark: #006800),
Battlerevolution: (normale: #DCA202, light: #FFD461, dark: #684D02),
zona_space: (normale: #222222, light: #555555, dark: #000000),
normale (glitch): (normale: #68A090, light: #9DC1B7, dark: #44685E),
Folletto_gcc: (normale: #E03A83, light: #EA7EAE, dark: #912555),
zona_neve: (normale: #DCEBEF, light: #E1EFF2, dark: #BBCDD1),
Attacco_Speciale: (normale: #6890F0, light: #9DB7F5, dark: #445E9C),
md portali: (normale: #7D6A7A, light: #AE9EAC, dark: #4D3249),
zona_cenere: (normale: #9C8583, light: #B8A09E, dark: #856765),
Kalos: (normale: #CB0B4F, light: #CF517E, dark: #870735),
Md_blu: (normale: #095BAF, light: #5A91C9, dark: #063D75),
mdoscurita: (normale: #C3141B, light: #D76166, dark: #830D12),
Volante: (normale: #6699FF, light: #9CBDFF, dark: #3678FF),
Qi JT(nome del giocatore)? POké BB(nome del Pokémon) de W N: (normale: #68A090, light: #9DC1B7, dark: #44685E),
zona_sabbia: (normale: #D6BD7C, light: #DBCFA0, dark: #B59B59),
66848.04: (normale: #68A090, light: #9DC1B7, dark: #44685E),
ZaffiroAplha: (normale: #26649C, light: #729ABF, dark: #194166),
Md_portali: (normale: #7D6A7A, light: #AE9EAC, dark: #4D3249),
Alola: (normale: #FFD900, light: #FFE86A, dark: #EC9000),
zona_Sottacqua: (normale: #6053AD, light: #737AC7, dark: #553894),
Fuoco: (normale: #FF4422, light: #FF927D, dark: #BA1F00),
Parco_Lotta: (normale: #3FA9D0, light: #82C7E0, dark: #296E87),
Attacco_speciale: (normale: #6890F0, light: #9DB7F5, dark: #445E9C),
Mattina_text000000
Uccello: (normale: #68A090, light: #9DC1B7, dark: #44685E),
Cristalli Z: (normale: #AB6B07, light: #FFC039, dark: #482C04),
aiuto gcc: (normale: #DC2222, light: #E66363, dark: #9A1717),
ffffff: (normale: #FFFFFF, light: #FFFFFF, dark: #FFFFFF),
metallo gcc: (normale: #8A776E, light: #B3A6A1, dark: #5A4D48),
Giallo: (normale: #FFD733, light: #FFE57A, dark: #A68C21),
macchine: (normale: #80A820, light: #90C030, dark: #709018),
zona_coleot: (normale: #AABB22, light: #DAEC44, dark: #849400),
zona_Palude: (normale: #7792BD, light: #BDA595, dark: #3D6633),
Zaffiro Alpha: (normale: #26649C, light: #729ABF, dark: #194166),
nero 2: (normale: #424B50, light: #848A8D, dark: #2B3134),
zona_acciaio: (normale: #AAAABB, light: #DFDFE1, dark: #74747B),
Drago gcc: (normale: #C6A114, light: #DAC266, dark: #81690D),
Md_oscurita: (normale: #C3141B, light: #D76166, dark: #830D12),
zona_lotta: (normale: #BB5544, light: #EA9A8D, dark: #912E1E),
6!2?2 A: (normale: #68A090, light: #9DC1B7, dark: #44685E),
md oscurita: (normale: #C3141B, light: #D76166, dark: #830D12),
amaro: (normale: #78C850, light: #A7DB8D, dark: #4E8234),
zona_strada: (normale: #ABA9A4, light: #CFCDC7, dark: #949391),
pokémon: (normale: #E5653C, light: #E2947C, dark: #A62F19),
Stato_textF7F7F7
zona_marsh: (normale: #7792BD, light: #BDA595, dark: #3D6633),
Sinnoh: (normale: #47443A, light: #9F9982, dark: #272520),
Drago_gcc: (normale: #C6A114, light: #DAC266, dark: #81690D),
Fisico: (normale: #C92112, light: #D96358, dark: #82150B),
cristalli Z: (normale: #AB6B07, light: #FFC039, dark: #482C04),
Primavera: (normale: #B0F858, light: #C7FA89, dark: #7BAE3D),
Palazzo: (normale: #F6F60A, light: #FFFF67, dark: #888600),
poké-body_gcc: (normale: #146837, light: #5A9572, dark: #0E4926),
zona_rosso: (normale: #FF1111, light: #FF7777, dark: #A60B0B),
Md_cielo: (normale: #7BB54F, light: #A6CD89, dark: #527935),
poké-power_gcc: (normale: #850921, light: #A95263, dark: #5D0617),
kaloscentrale: (normale: #D1D1D1, light: #EAEAEA, dark: #BBBBBB),
mdportali: (normale: #7D6A7A, light: #AE9EAC, dark: #4D3249),
lampo_gcc: (normale: #FAB536, light: #FCCE7C, dark: #A37523),
Md super: (normale: #A5A3D2, light: #CCC9FF, dark: #7471A6),
Bellezza: (normale: #6890F0, light: #9DB7F5, dark: #445E9C),
Normale: (normale: #BBBBAA, light: #E7E7D8, dark: #8A8A7B),
zona_distortion: (normale: #5A65DB, light: #CC8562, dark: #2622A8),
Poké BB: (normale: #68A090, light: #9DC1B7, dark: #44685E),
Grazia: (normale: #F85888, light: #FA92B2, dark: #A13959),
zona_Giallo: (normale: #FFD733, light: #FFE57A, dark: #A68C21),
Metallo_gcc: (normale: #8A776E, light: #B3A6A1, dark: #5A4D48),
md rosso: (normale: #C50C50, light: #D85C8A, dark: #840836),
zona_Buio: (normale: #775544, light: #BDA396, dark: #442C21),
Incolore gcc: (normale: #E5D6D0, light: #EEE4E0, dark: #958B87),
Heartgold: (normale: #B69E00, light: #CEB654, dark: #766700),
Decolora: (normale: #FFB200, light: #FFD36B, dark: #AE7E00),
RossoFuoco: (normale: #FF7327, light: #FFA472, dark: #A64B19),
Diamante: (normale: #AAAAFF, light: #CCCCFF, dark: #6F6FA6),
Aspro: (normale: #F8D030, light: #FAE078, dark: #A1871F),
Drago: (normale: #7766EE, light: #A194FF, dark: #31229D),
Md_super: (normale: #A5A3D2, light: #CCC9FF, dark: #7471A6),
Speciale: (normale: #4F5870, light: #83899A, dark: #333948),
FFFFFF: (normale: #FFFFFF, light: #FFFFFF, dark: #FFFFFF),
Fisico_textF67A1A
Nero2: (normale: #424B50, light: #848A8D, dark: #2B3134),
Lampo gcc: (normale: #FAB536, light: #FCCE7C, dark: #A37523),
Colo: (normale: #B6CAE4, light: #CFDCED, dark: #768394),
drago_gcc: (normale: #C6A114, light: #DAC266, dark: #81690D),
Kalos montana: (normale: #981128, light: #EA1A3E, dark: #76071A),
Pokémaniaco: (normale: #68A090, light: #9DC1B7, dark: #44685E),
stadio_gcc: (normale: #90E183, light: #B7EBAE, dark: #5E9255),
Difesa: (normale: #F8D030, light: #FAE078, dark: #A1871F),
DW: (normale: #EF52B2, light: #FFC0CB, dark: #C6007B),
Arancione: (normale: #FF7F00, light: #FFAC59, dark: #A65300),
PS: (normale: #FF0000, light: #FF5959, dark: #A60000),
Supporto gcc: (normale: #DC2222, light: #E66363, dark: #9A1717),
zona_text: (foresta: #000,distortion: #000,Strada: #000,Montagna: #000,Lago: #000,sabbia: #000,land: #000,nebbia: #000,space: #000,volcano: #000,edificio: #000,snow: #000,Cenere: #000,Distorsione: #000,spazio: #000,ocean: #000,ombra: #000,road: #000,Spazio: #000,lake: #000,Sottacqua: #000,ash: #000,terra: #000,palazzo: #000,caverna: #000,grotta: #000,Ombra: #000,neve: #000,Foresta: #000,shadow: #000,Neve: #000,building: #000,strada: #000,sottacqua: #000,montagna: #000,lago: #000,Sabbia: #000,Vulcano: #000,Nebbia: #000,oceano: #000,Oceano: #000,Edificio: #000,marsh: #000,cenere: #000,distorsione: #000,palude: #000,underwater: #000,sand: #000,ruins: #000,rovine: #000,forest: #000,bosco: #000,vulcano: #000,Palude: #000,Terra: #000,fog: #000,Rovine: #000,Grotta: #000,mountain: #000,),
Erba gcc: (normale: #7DB808, light: #AAD15E, dark: #517805),
zona_Psico: (normale: #FF5599, light: #FF9CC4, dark: #D00053),
Dw: (normale: #EF52B2, light: #FFC0CB, dark: #C6007B),
zona_Elettro: (normale: #FFCC33, light: #FFEEBC, dark: #BD8E00),
incolore gcc: (normale: #E5D6D0, light: #EEE4E0, dark: #958B87),
zona_verde: (normale: #11BB11, light: #A7DB8D, dark: #0B7A0B),
Md_tempo: (normale: #2190C7, light: #6AB5D9, dark: #166185),
Unima: (normale: #CB410B, light: #DA7953, dark: #8E2D07),
md super: (normale: #A5A3D2, light: #CCC9FF, dark: #7471A6),
br: (normale: #DCA202, light: #FFD461, dark: #684D02),
azienda: (normale: #3291C1, light: #7AB7D7, dark: #215E7E),
Inverno: (normale: #F0D8F8, light: #F4E3FA, dark: #A897AE),
fuoco_gcc: (normale: #E24242, light: #EC8484, dark: #932B2B),
Ps: (normale: #FF0000, light: #FF5959, dark: #A60000),
Oscurità_gcc: (normale: #2C2E2B, light: #767775, dark: #1D1E1C),
Kalos centrale: (normale: #D1D1D1, light: #EAEAEA, dark: #BBBBBB),
md cielo: (normale: #7BB54F, light: #A6CD89, dark: #527935),
Fuoco gcc: (normale: #E24242, light: #EC8484, dark: #932B2B),
fuoco gcc: (normale: #E24242, light: #EC8484, dark: #932B2B),
VerdeFoglia: (normale: #00DD00, light: #59E959, dark: #015701),
Stadio_gcc: (normale: #90E183, light: #B7EBAE, dark: #5E9255),
Mdsuper: (normale: #A5A3D2, light: #CCC9FF, dark: #7471A6),
zona_Lago: (normale: #66BDCC, light: #85D4DE, dark: #538FBD),
arena: (normale: #FFC115, light: #FFD767, dark: #A67E0E),
Coleottero: (normale: #AABB22, light: #DAEC44, dark: #849400),
supporto gcc: (normale: #DC2222, light: #E66363, dark: #9A1717),
zona_buio: (normale: #775544, light: #BDA396, dark: #442C21),
kaloscostiera: (normale: #013D6C, light: #026FC4, dark: #002847),
Kaloscentrale: (normale: #D1D1D1, light: #EAEAEA, dark: #BBBBBB),
Macchine: (normale: #80A820, light: #90C030, dark: #709018),
L: (normale: #68A090, light: #9DC1B7, dark: #44685E),
Settipelago: (normale: #52CC91, light: #8DEBBC, dark: #2B915E),
Colosseum: (normale: #B6CAE4, light: #CFDCED, dark: #768394),
zona_edificio: (normale: #A8B9BD, light: #C3D8DE, dark: #8A9CA1),
zona_Città: (normale: #D9D9D9, light: #E6E6E6, dark: #CCCCCC),
Poké-power_gcc: (normale: #850921, light: #A95263, dark: #5D0617),
strumento_gcc: (normale: #7777EE, light: #A6A6F4, dark: #4D4D9B),
Md portali: (normale: #7D6A7A, light: #AE9EAC, dark: #4D3249),
Combattimento_gcc: (normale: #FF501F, light: #FF8D6D, dark: #A63414),
Kanto: (normale: #6A12AB, light: #9E65C8, dark: #360A58),
Metallo gcc: (normale: #8A776E, light: #B3A6A1, dark: #5A4D48),
Cristalline: (normale: #FFB200, light: #FFD36B, dark: #AE7E00),
Agilità: (normale: #38BD62, light: #83EEA4, dark: #188339),
Psico: (normale: #FF5599, light: #FF9CC4, dark: #D00053),
zona_sottacqua: (normale: #6053AD, light: #737AC7, dark: #553894),
zona_shadow: (normale: #472E63, light: #604E82, dark: #1A0A2C),
bacche: (normale: #20A048, light: #30B858, dark: #188030),
abilita gcc: (normale: #C84923, light: #D87F64, dark: #8C3318),
rimedi: (normale: #E07038, light: #E88050, dark: #D86028),
Abilita: (normale: #317BEE, light: #83B4FF, dark: #2052A4),
Unova: (normale: #CB410B, light: #DA7953, dark: #8E2D07),
zona_Cenere: (normale: #9C8583, light: #B8A09E, dark: #856765),
,K Pk(nome del giocatore)xX: (normale: #68A090, light: #9DC1B7, dark: #44685E),
Bulba: (normale: #C4E673, light: #E0F2B6, dark: #80964B),
drago gcc: (normale: #C6A114, light: #DAC266, dark: #81690D),
metallo_gcc: (normale: #8A776E, light: #B3A6A1, dark: #5A4D48),
Psiche_gcc: (normale: #A65E9A, light: #C596BD, dark: #6C3D64),
Aiuto gcc: (normale: #DC2222, light: #E66363, dark: #9A1717),
BR: (normale: #DCA202, light: #FFD461, dark: #684D02),
zona_erba: (normale: #77CC55, light: #BDFFA3, dark: #299100),
zona_Veleno: (normale: #AA5599, light: #C689BA, dark: #792F6A),
combattimento gcc: (normale: #FF501F, light: #FF8D6D, dark: #A63414),
decolora: (normale: #FFB200, light: #FFD36B, dark: #AE7E00),
zona_land: (normale: #75C977, light: #A2E0A3, dark: #4AA14D),
???: (normale: #68A090, light: #9DC1B7, dark: #44685E),
Strumento_gcc: (normale: #7777EE, light: #A6A6F4, dark: #4D4D9B),
Trainer gcc: (normale: #FFE955, light: #FFFCE4, dark: #B3A33B),
bianco 2: (normale: #E3CED0, light: #EDDFE0, dark: #948687),
HeartGold: (normale: #B69E00, light: #CEB654, dark: #766700),
piramide: (normale: #FF5900, light: #FF9049, dark: #A13500),
zona_spettro: (normale: #6666BB, light: #9F9FEC, dark: #42428E),
cristalli_z: (normale: #AB6B07, light: #FFC039, dark: #482C04),
Coleot: (normale: #AABB22, light: #DAEC44, dark: #849400),
Grinta: (normale: #F8D030, light: #FAE078, dark: #A1871F),
Bacche: (normale: #20A048, light: #30B858, dark: #188030),
dolce: (normale: #F85888, light: #FA92B2, dark: #A13959),
Rimedi: (normale: #E07038, light: #E88050, dark: #D86028),
MD: (normale: #D78144, light: #DECAA9, dark: #7C4B2D),
strumenti: (normale: #C86890, light: #D880A8, dark: #B85078),
Md oscurita: (normale: #C3141B, light: #D76166, dark: #830D12),
zona_City: (normale: #D9D9D9, light: #E6E6E6, dark: #CCCCCC),
Gara: (normale: #E090A8, light: #EBB7C6, dark: #925E6D)


);
