////
///     This file contains the huge colors table.
////

$colors: (

    // Types
    acciaio: (normale: #AAAABB, light: #DFDFE1, dark: #74747B),
    acqua: (normale: #3399FF, light: #9FCEFF, dark: #0D6AC8),
    buio: (normale: #775544, light: #BDA396, dark: #442C21),
    coleottero: (normale: #AABB22, light: #DAEC44, dark: #849400),
    drago: (normale: #7766EE, light: #A194FF, dark: #31229D),
    elettro: (normale: #FFCC33, light: #FFEEBC, dark: #BD8E00),
    erba: (normale: #77CC55, light: #BDFFA3, dark: #299100),
    folletto: (normale: #FFAAFF, light: #FFDDFF, dark: #EC67EA),
    fuoco: (normale: #FF4422, light: #FF927D, dark: #BA1F00),
    ghiaccio: (normale: #77DDFF, light: #DBF6FF, dark: #13A8D9),
    lotta: (normale: #BB5544, light: #EA9A8D, dark: #912E1E),
    normale: (normale: #BBBBAA, light: #E7E7D8, dark: #8A8A7B),
    psico: (normale: #FF5599, light: #FF9CC4, dark: #D00053),
    roccia: (normale: #BBAA66, light: #E1D08C, dark: #88762C),
    spettro: (normale: #6666BB, light: #9F9FEC, dark: #42428E),
    terra: (normale: #DDBB55, light: #F1DDA0, dark: #B59226),
    veleno: (normale: #AA5599, light: #C689BA, dark: #792F6A),
    volante: (normale: #6699FF, light: #9CBDFF, dark: #3678FF),

    // Other types
    ombra: (normale: #604E82, light: #8674A8, dark: #3E3355),
    sconosciuto: (normale: #68A090, light: #9DC1B7, dark: #44685E),

    // Damage categories
    fisico: (normale: #C92112, light: #D96358, dark: #82150B, text: #F67A1A),
    speciale: (normale: #4F5870, light: #83899A, dark: #333948, text: #FFFFFF),
    stato: (normale: #8C888C, light: #AEABAE, dark: #5B585B, text: #F7F7F7),

    // Main games
    verde: (normale: #11BB11, light: #A7DB8D, dark: #0B7A0B),
    rosso: (normale: #FF1111, light: #FF7777, dark: #A60B0B),
    blu: (normale: #1111FF, light: #7777FF, dark: #0B0BA6),
    giallo: (normale: #FFD733, light: #FFE57A, dark: #A68C21),
    oro: (normale: #DAA520, light: #E7C46E, dark: #8E6B15),
    argento: (normale: #C0C0C0, light: #D6D6D6, dark: #7D7D7D),
    cristallo: (normale: #4FD9FF, light: #8CE6FF, dark: #338DA6),
    rubino: (normale: #A00000, light: #D42E2E, dark: #680000),
    zaffiro: (normale: #0000A0, light: #5959C1, dark: #000068),
    rosso-fuoco: (normale: #FF7327, light: #FFA472, dark: #A64B19),
    verde-foglia: (normale: #00DD00, light: #59E959, dark: #015701),
    smeraldo: (normale: #00A000, light: #2ED42E, dark: #006800),
    diamante: (normale: #AAAAFF, light: #CCCCFF, dark: #6F6FA6),
    perla: (normale: #FFAAAA, light: #FFC8C8, dark: #A66F6F),
    platino: (normale: #999999, light: #BDBDBD, dark: #646464),
    heartgold: (normale: #B69E00, light: #CEB654, dark: #766700),
    soulsilver: (normale: #C0C0E1, light: #D6D6EB, dark: #7D7D92),
    nero: (normale: #444444, light: #858585, dark: #2C2C2C),
    bianco: (normale: #C3C3C3, light: #D8D8D8, dark: #7F7F7F),
    nero-2: (normale: #424B50, light: #848A8D, dark: #2B3134),
    bianco-2: (normale: #E3CED0, light: #EDDFE0, dark: #948687),
    x: (normale: #025DA6, light: #5A96C5, dark: #013D6C),
    y: (normale: #EA1A3E, light: #F16A81, dark: #981128),
    rubino-omega: (normale: #AB2813, light: #C87365, dark: #6F1A0C),
    zaffiro-alpha: (normale: #26649C, light: #729ABF, dark: #194166),
    sole: (normale: #F2952D, light: #FFC587, dark: #A45500),
    luna: (normale: #5599C8, light: #9ACFF4, dark: #155785),

    // Mystery Dungeon games
    md: (normale: #D78144, light: #DECAA9, dark: #7C4B2D),
    md-rosso: (normale: #C50C50, light: #D85C8A, dark: #840836),
    md-blu: (normale: #095BAF, light: #5A91C9, dark: #063D75),
    md-tempo: (normale: #2190C7, light: #6AB5D9, dark: #166185),
    md-oscurità: (normale: #C3141B, light: #D76166, dark: #830D12),
    md-cielo: (normale: #7BB54F, light: #A6CD89, dark: #527935),
    md-portali: (normale: #7D6A7A, light: #AE9EAC, dark: #4D3249),
    md-super: (normale: #A5A3D2, light: #CCC9FF, dark: #7471A6),

    // Ranger games
    ranger: (normale: #F7681A, light: #FA9D6A, dark: #A14411),
    osa: (normale: #2D4B98, light: #768ABC, dark: #1D3163),
    tl: (normale: #2CB8E9, light: #76D1F1, dark: #1D7898),

    // Other games
    colosseum: (normale: #B6CAE4, light: #CFDCED, dark: #768394),
    xd: (normale: #604E82, light: #8674A8, dark: #3E3355),
    battle-revolution: (normale: #DCA202, light: #FFD461, dark: #684D02),

    // Main regions
    kanto: (normale: #6A12AB, light: #9E65C8, dark: #360A58),
    johto: (normale: #00647f, light: #1CB0D9, dark: #023D4E),
    hoenn: (normale: #1AB81A, light: #65CF65, dark: #117B11),
    sinnoh: (normale: #47443A, light: #9F9982, dark: #272520),
    unima: (normale: #CB410B, light: #DA7953, dark: #8E2D07),
    kalos: (normale: #CB0B4F, light: #CF517E, dark: #870735),
    kalos-montana: (normale: #981128, light: #EA1A3E, dark: #76071A),
    kalos-costiera: (normale: #013D6C, light: #026FC4, dark: #002847),
    kalos-centrale: (normale: #D1D1D1, light: #EAEAEA, dark: #BBBBBB),
    alola: (normale: #FFD900, light: #FFE86A, dark: #EC9000),

    // Other regions
    settipelago: (normale: #52CC91, light: #8DEBBC, dark: #2B915E),
    auros: (normale: #817548, light: #ADA588, dark: #544C2F),

    // Anime regions
    orange: (normale: #FF7F00, light: #FFAC59, dark: #A65300),
    cristalline: (normale: #FFB200, light: #FFD36B, dark: #AE7E00),

    // Stats
    ps: (normale: #FF0000, light: #FF5959, dark: #A60000),
    attacco: (normale: #F08030, light: #F5AC78, dark: #9C531F),
    difesa: (normale: #F8D030, light: #FAE078, dark: #A1871F),
    attacco-speciale: (normale: #6890F0, light: #9DB7F5, dark: #445E9C),
    difesa-speciale: (normale: #78C850, light: #A7DB8D, dark: #4E8234),
    velocità: (normale: #F85888, light: #FA92B2, dark: #A13959),

    // PokéAthlon stats
    forza: (normale: #FF4131, light: #FF9494, dark: #BD2018),
    resistenza: (normale: #EECD31, light: #FFE683, dark: #C58308),
    thlon: (normale: #90a8e0, light: #B7C6EB, dark: #5E6D92),

    // Areas
    zona_cenere: (normale: #9C8583, light: #B8A09E, dark: #856765),
    zona_città: (normale: #D9D9D9, light: #E6E6E6, dark: #CCCCCC),
    zona_distorsione: (normale: #5A65DB, light: #CC8562, dark: #2622A8, text: #E0FAFF),
    zona_edificio: (normale: #A8B9BD, light: #C3D8DE, dark: #8A9CA1),
    zona_foresta: (normale: #3A822D, light: #71AD64, dark: #34612D),
    zona_grotta: (normale: #CC8F66, light: #E0B192, dark: #A66A42),
    zona_lago: (normale: #66BDCC, light: #85D4DE, dark: #538FBD),
    zona_montagna: (normale: #B8907D, light: #D4B5A7, dark: #7A5443),
    zona_nebbia: (normale: #B5ADC7, light: #CAC1DE, dark: #9E98AD),
    zona_neve: (normale: #DCEBEF, light: #E1EFF2, dark: #BBCDD1),
    zona_oceano: (normale: #485CC2, light: #5A98F5, dark: #1E3F94),
    zona_ombra: (normale: #472E63, light: #604E82, dark: #1A0A2C, text: #FFFFFF),
    zona_palude: (normale: #7792BD, light: #BDA595, dark: #3D6633, text: #573118),
    zona_rovine: (normale: #BFB895, light: #EBE5CA, dark: #9E9773),
    zona_sabbia: (normale: #D6BD7C, light: #DBCFA0, dark: #B59B59),
    zona_sottacqua: (normale: #6053AD, light: #737AC7, dark: #553894),
    zona_spazio: (normale: #222222, light: #555555, dark: #000000, text: #FFFFFF),
    zona_strada: (normale: #ABA9A4, light: #CFCDC7, dark: #949391),
    zona_terra: (normale: #75C977, light: #A2E0A3, dark: #4AA14D),
    zona_vulcano: (normale: #D20000, light: #D23434, dark: #A30000, text: #FFBC00),

    // PCWiki
    pcwiki: (normale: #7CBAFF, light: #D0E6FF, medium-light: #B1D6FF, dark: #0078FF, medium-dark: #5BA0FF),

    // Time
    notte: (normale: #003366, light: #597A9B, dark: #002347, text: #FFFF99),
    mattina: (normale: #FFFFAA, light: #FFFFC8, dark: #B3B377, text: #000000),
    giorno: (normale: #5ED0FF, light: #96E0FF, dark: #4192B3, text: #000000),
    sera: (normale: #FF8741, light: #FEAD7E, dark: #AD3F00, text: #000000),

    // Seasons
    inverno: (normale: #F0D8F8, light: #F4E3FA, dark: #A897AE),
    primavera: (normale: #B0F858, light: #C7FA89, dark: #7BAE3D),
    estate: (normale: #78D0F8, light: #A0DEFA, dark: #5492AE),
    autunno: (normale: #F89058, light: #FAB189, dark: #AE653D),

    // Contests
    acume: (normale: #78C850, light: #A7DB8D, dark: #4E8234),
    bellezza: (normale: #6890F0, light: #9DB7F5, dark: #445E9C),
    classe: (normale: #F08030, light: #F5AC78, dark: #9C531F),
    grazia: (normale: #F85888, light: #FA92B2, dark: #A13959),
    grinta: (normale: #F8D030, light: #FAE078, dark: #A1871F),
    gara: (normale: #E090A8, light: #EBB7C6, dark: #925E6D),

    // GCC
    acqua-gcc: (normale: #5BC7E5, light: #94DBEE, dark: #3B8295),
    drago-gcc: (normale: #C6A114, light: #DAC266, dark: #81690D),
    erba-gcc: (normale: #7DB808, light: #AAD15E, dark: #517805),
    folletto-gcc: (normale: #E03A83, light: #EA7EAE, dark: #912555),
    fuoco-gcc: (normale: #E24242, light: #EC8484, dark: #932B2B),
    incolore-gcc: (normale: #E5D6D0, light: #EEE4E0, dark: #958B87),
    lampo-gcc: (normale: #FAB536, light: #FCCE7C, dark: #A37523),
    metallo-gcc: (normale: #8A776E, light: #B3A6A1, dark: #5A4D48),
    oscurità-gcc: (normale: #2C2E2B, light: #767775, dark: #1D1E1C),
    psiche-gcc: (normale: #A65E9A, light: #C596BD, dark: #6C3D64),
    abilità-gcc: (normale: #C84923, light: #D87F64, dark: #8C3318),
    aiuto-gcc: (normale: #DC2222, light: #E66363, dark: #9A1717),
    allenatore-gcc: (normale: #FFE955, light: #FFFCE4, dark: #B3A33B),
    combattimento-gcc: (normale: #FF501F, light: #FF8D6D, dark: #A63414),
    pokébody-gcc: (normale: #146837, light: #5A9572, dark: #0E4926),
    poképower-gcc: (normale: #850921, light: #A95263, dark: #5D0617),
    stadio-gcc: (normale: #90E183, light: #B7EBAE, dark: #5E9255),
    strumento-gcc: (normale: #7777EE, light: #A6A6F4, dark: #4D4D9B),
    supporto-gcc: (normale: #DC2222, light: #E66363, dark: #9A1717),

    // Battle frontier
    arena: (normale: #FFC115, light: #FFD767, dark: #A67E0E),
    azienda: (normale: #3291C1, light: #7AB7D7, dark: #215E7E),
    cupola: (normale: #AD32DA, light: #D35CFF, dark: #71009B),
    dojo: (normale: #20811D, light: #2DBA29, dark: #043503),
    maniero: (normale: #40AD72, light: #83CAA3, dark: #2A714A),
    palazzo: (normale: #F6F60A, light: #FFFF67, dark: #888600),
    palco: (normale: #F87A97, light: #FFADC0, dark: #A14F62),
    parco-lotta: (normale: #3FA9D0, light: #82C7E0, dark: #296E87),
    piramide: (normale: #FF5900, light: #FF9049, dark: #A13500),
    serpe: (normale: #7D000C, light: #B51826, dark: #300105),
    torre: (normale: #D6553C, light: #E49080, dark: #8B3727),

    // Bag slots
    bacche: (normale: #20A048, light: #30B858, dark: #188030),
    cristalli-z: (normale: #AB6B07, light: #FFC039, dark: #482C04),
    macchine: (normale: #80A820, light: #90C030, dark: #709018),
    messaggi: (normale: #1890B0, light: #18A8D0, dark: #208090),
    pokéball: (normale: #C88820, light: #E0A038, dark: #B87008),
    rimedi: (normale: #E07038, light: #E88050, dark: #D86028),
    strumenti: (normale: #C86890, light: #D880A8, dark: #B85078),
    strumenti-base: (normale: #9048D8, light: #A058E8, dark: #7838C0),
    strumenti-lotta: (normale: #3070E0, light: #4880F0, dark: #2058C8),

    // Social
    facebook: (normale: #3B5998),
    instagram: (normale: #E03C63),
    telegram: (normale: #1DA1F2),
    twitter: (normale: #1DA1F2),
    youtube: (normale: #FF0000),

    // Pokémon Central flavors
    chat: (normale: #43BDFF, dark: #009AEE),
    forum :(normale: #DB435F, dark :#942C3F),

    // Misc
    000000: (normale: #000000),
    background: (normale: #EAEAEA),
    bronzo: (normale: #DEAB79, light: #EBCDAF, dark: #856749),
    bulba: (normale: #C4E673, light: #E0F2B6, dark: #80964B),
    camilla: (normale: #525252, light: #8E8E8E, dark: #353535),
    diantha: (normale: #E64A80, light: #F08FB1, dark: #A5385C),
    dw: (normale: #EF52B2, light: #FFC0CB, dark: #C6007B),
    ffffff: (normale: #FFFFFF),
    ghicocca: (normale: #F0A018, light: #F8C038, dark: #A05840),
    nardo: (normale: #E88058, light: #F0AA8F, dark: #C84040),
    olio: (normale: #BAB1C9, light: #DCD7E3, dark: #978CAE),
    pokémon: (normale: #E5653C, light: #E2947C, dark: #A62F19)
);

// Type areas
@each $type in $types {
    $alias: if($type == terra, terratipo, $type);
    $colors: map-add-alias($colors, unquote('zona_#{$alias}'), $type);
}
