////
///     This file contains all semantic, non style-related,
///     variables and information.
////

$types: (
    acciaio,
    acqua,
    buio,
    coleottero,
    drago,
    elettro,
    erba,
    folletto,
    fuoco,
    ghiaccio,
    lotta,
    normale,
    psico,
    roccia,
    spettro,
    terra,
    veleno,
    volante
);

$damage-categories: (
    fisico,
    speciale,
    stato
);

$games: (
    verde,
    rosso,
    blu,
    giallo,
    oro,
    argento,
    cristallo,
    rubino,
    zaffiro,
    rosso-fuoco,
    verde-foglia,
    smeraldo,
    diamante,
    perla,
    platino,
    heartgold,
    soulsilver,
    nero,
    bianco,
    nero-2,
    bianco-2,
    x,
    y,
    rubino-omega,
    zaffiro-alpha,
    sole,
    luna,
    ultrasole,
    ultraluna,
    lgp,
    lge
);
