////
///     This file contains mixin used for browser vendor
///     prefixes. To be used as little as possible in fovor
///     of Autoprefixer, usually when it does not add the
///     required prefixes.
////

///
/// This mixin adds some weird border radius
/// prefixes.
///
/// @param {*} $radius - Border radius value.
///
@mixin border-radius($radius) {
    -icab-border-radius: $radius;
    -khtml-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

///
/// This mixin adds some weird border top left
/// radius prefixes.
///
/// @param {*} $radius - Border top left radius value.
///
@mixin border-top-left-radius($radius) {
    -icab-border-top-left-radius: $radius;
    -khtml-border-top-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -o-border-top-left-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
}

///
/// This mixin adds some weird border top right
/// radius prefixes.
///
/// @param {*} $radius - Border top right radius value.
///
@mixin border-top-right-radius($radius) {
    -icab-border-top-right-radius: $radius;
    -khtml-border-top-right-radius: $radius;
    -moz-border-radius-topright: $radius;
    -o-border-top-right-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
}

///
/// This mixin adds some weird border bottom left
/// radius prefixes.
///
/// @param {*} $radius - Border bottom left radius value.
///
@mixin border-bottom-left-radius($radius) {
    -icab-border-bottom-left-radius: $radius;
    -khtml-border-bottom-left-radius: $radius;
    -moz-border-radius-bottomleft: $radius;
    -o-border-bottom-left-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

///
/// This mixin adds some weird border bottom right
/// radius prefixes.
///
/// @param {*} $radius - Border bottom right radius value.
///
@mixin border-bottom-right-radius($radius) {
    -icab-border-bottom-right-radius: $radius;
    -khtml-border-bottom-right-radius: $radius;
    -moz-border-radius-bottomright: $radius;
    -o-border-bottom-right-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
}
