////
///     This file contains utility mixins for solid color.
////

///
/// Generates a CSS class, including aliases, for solid
/// color styles coming in a single variant and css
/// property.
///
/// @param {string} $name - The name of the color styles will be written for.
/// @param {string} $css-prop - CSS property of the generated styles.
/// @param {List} $aliases - The aliases of the color name: each one will have a class.
/// @param {string} $variant - The color variant.
///
@mixin solid-color($name, $css-prop, $aliases, $variant) {

    $hex: get-color($name, $variant);
    $selector: make-solid-color-selector($css-prop, $aliases, $variant);

    // 'normale' variant needs variant-less CSS classes too.
    @if $variant == normale {
        $selector: join($selector,
            make-solid-color-selector($css-prop, $aliases, null), comma);
    }

    #{$selector} {

        // Text variant has no corresponding CSS property
        // since it's not needed in the class name.
        @if $variant == text {
            color: $hex !important;

            // Overwriting MediaWiki link styles
            a {
                color: $hex !important;
            }
        }

        @else if $css-prop == background {
            $text-hex: get-color($name, text);

            background-color: $hex;
            color: $text-hex;

            // Overwriting MediaWiki link styles
            a {
                color: $text-hex;
            }
        }

        @else if str-index($css-prop, border) != 0 {
            #{$css-prop}: solid $hex;
        }

        @else if $css-prop == text {
            color: $hex !important;

            // Overwriting MediaWiki link styles
            a {
                color: $hex !important;
            }
        }
    }
}
