////
///     This file contains all basic CSS styles
////

/**************************************************

Reset styles

**************************************************/

div {
    display: block;
}

span {
    display: inline;
}

table {
    display: table;
}

tr {
    display: table-row;
}

td, th {
    display: table-cell;
}

/**************************************************

Root styles

**************************************************/

html, body {
    font-family: map-get($font-families, base) !important;
}

body.skin-vector {
    font-size: map-get($font-sizes, body);
}

#mw-content-text *:not(.thumbinner) {
    box-sizing: border-box;
}

th, .grid-header {
    @extend .text-center;
    font-weight: bolder;
}

// Code (lua, css, etc)
pre {
    font-size: 90%;
}

/**************************************************

MediaWiki overriding styles

**************************************************/

#content {
    h1, h2, h3, h4, h5, h6 {
        font-family: map-get($font-families, base);
        text-rendering: optimizeLegibility;
    }
}

.page-Home {
    #firstHeading, #siteSub, #contentSub {
        display: none;
    }
}
