////
///     This file contains the standard gallery restyling.
////

/**************************************************

Gallery styles

**************************************************/

li.gallerybox {
    @extend .roundy;
    display: inline-block;
    background: linear-gradient(to right,
        get-color(pcwiki, light), get-color(pcwiki, normale));
    height: 20.5rem;
    vertical-align: top;

    div.thumb {
        @extend .roundy;
        margin: 0.2rem 0.2rem 0 0.2rem;
        text-align: center;
    }
}

div.gallerytext {
    padding: 0 0.4rem;
    height: 5rem;
    font-size: 85%;
    line-height: 1.1;
    overflow: hidden;
    word-wrap: break-word;
}
