////
///     This file contains the standard gallery restyling.
////

/**************************************************

Gallery styles

**************************************************/

li.gallerybox {
    @extend .roundy;
    display: inline-block;
    background: linear-gradient(to right,
        get-color(pcwiki, light), get-color(pcwiki, normale));
    height: px-to-rem(205px);
    vertical-align: top;

    div.thumb {
        $margin: px-to-rem(2px);

        @extend .roundy;
        margin: $margin $margin 0 $margin;
        text-align: center;
    }
}

div.gallerytext {
    padding: 0 px-to-rem(4px);
    height: px-to-rem(50px);
    font-size: 85%;
    line-height: 1.1;
    overflow: hidden;
    word-wrap: break-word;
}
