////
///     This file contains classes that add background gradients
////

/**************************************************

Gradients styles

**************************************************/

// Type gradients

@each $type0 in $types {
    @each $type1 in $types {
        // Need to use str-prefix to consider colet and coleottero the same
        $is-same: str-is-prefix($type0, $type1)
            or str-is-prefix($type1, $type0);
        $color0: get-color($type0, if($is-same, light, normale));
        $color1: get-color($type1, normale);

        .horiz-grad-#{$type0}-#{$type1} {
            background-size: 100%;
            background-image: linear-gradient(to right, $color0, $color1);
        }
    }

    .horiz-grad-#{$type0} {
        @extend .horiz-grad-#{$type0}-#{$type0};
    }

    .horiz-grad-#{$type0}-coleot {
        @extend .horiz-grad-#{$type0}-coleottero;
    }

    .horiz-grad-coleot-#{$type0} {
        @extend .horiz-grad-coleottero-#{$type0};
    }
}

.horiz-grad-coleot-coleot, .horiz-grad-coleot {
    @extend .horiz-grad-coleottero-coleottero;
}

// Box gradients

@each $item in _concat($types, $damage-categories) {
    $start: get-color($item, dark);
    $end: get-color($item, normale);
    $text: get-color($item, text);

    .box.#{$item} {
        background-size: 100%;
        background-image: linear-gradient(to right, $start, $end);

        @if $text != #000000 and $text != #FFFFFF {
            color: $text;
        }
    }
}
