////
///     This file contains the styles for the home page.
////

/**************************************************

Home styles

**************************************************/

#home-social-link-container {
    [id$="-icon"] a {
        display: inline-block;
        padding-right: 0;
        background-image: none;

        &::before {
            @extend %icon;
            height: 2em;
            width: 2em;
            content: '';
        }
    }

    @each $icon-id in _pluck($icons, 'id') {
        #home-#{$icon-id}-icon a::before {
            @extend %icon-#{$icon-id};
        }
    }
}

@include media-breakpoint-up(lg) {
    #home-lmopcw {
        overflow: hidden scroll;
        position: absolute;
        height: calc(100% - 2ex);
        width: calc(100% - 2ex);
    }
}
