////
///     This file contains the placeholder selectors for the icons
////

/**************************************************

Shared styles for icons

**************************************************/

%icon {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: top;
}

// Standard icons
$icon-svgs: _map($icons, _ary(_partial-right(_at, 'id', 'iconName'), 1));
@each $icon-name, $svg-name in $icon-svgs {
    %icon-#{$icon-name} {
        background-image: inline-svg($svg-name,
            get-color(to-lower-case($icon-name)));
    }
}

// Pokémon Central logo variations
@each $logo in $pc-logos {
    $color-name: to-lower-case($logo);

    %icon-#{$logo} {
        background-image: inline-svg(pc-logo, get-color($color-name),
            get-color($color-name, dark));
    }
}
