////
///     This file contains all miscellaneous styles, that don't find home
///     anywhere else.
////

/**************************************************

Overused styles

**************************************************/

.black-text, .black-white {
    &, & a {
        color: get-color(000000);
    }
}

.height-100 {
    height: 100%;
}

.white-bg, .bg-white {
    background: get-color(ffffff);
}

.white-text, .text-white {
    &, & a {
        color: get-color(ffffff);
    }
}

/**************************************************

Vertical alignment

**************************************************/

.vert-middle, .vert-center {
    white-space: nowrap;

    &::before {
        @extend .align-middle, .inline-block;

        height: 100%;
        content: '';
    }

    > * {
        @extend .align-middle, .inline-block;

        white-space: normal;
    }
}

/**************************************************

Shorthand classes

**************************************************/

.std-table {
    @extend .roundy-footer;
    @extend .pull-center;
    @extend .text-center;
    @extend .white-rows;
    @extend .no-border-spacing;
}

/**************************************************

Miscellaneous styles

**************************************************/

// Table of content
.toc {
    @extend .roundy;
}

// Sitenotice
.sitenotice {
    @extend .roundy-20, .pull-center, .text-center;

    margin-bottom: 1.5ex;
    padding: 0.5ex;
    background: linear-gradient(to right,
        get-color(pcwiki, light), get-color(pcwiki, normale));
}

.mw-echo-icon-pcw {
    background-image: url('//media.pokemoncentral.it/wiki/wiki-icn.png');
}

.white-rows {
    tbody td, &.grid > :not(:first-child) > :not(.grid-header) {
        @extend .white-bg;
    }
}

.mw-collapsible-toggle {
    padding-left: px-to-rem(7px);
}

.copytag {
    padding: 0.25em;
    width: 100%;

    &-red {
        background: linear-gradient(to right, #FFF6F6, #FFDDDD);
    }

    &-yellow {
        background: linear-gradient(to right, #FFFFE6, #FFFFC5);
    }

    &-text {
        padding: 0.5em;
        text-align: center;
        width: 99%;
    }

    &-sym {
        padding: 0;
    }
}

.explain[title] {
    text-decoration: underline dotted;
    cursor: initial;
}
