////
///     This file contains all responsive design classes
////

/**************************************************

Responsive design classes

**************************************************/

@each $breakpoint in _reverse(map-keys($grid-breakpoints)) {
    @include media-breakpoint-down($breakpoint) {

        /* #{$breakpoint} responsive width classes */

        @include responsive-width($breakpoint);

        /* #{$breakpoint} responsive hidden class */

        .hidden-#{$breakpoint} {
            display: none;
        }

        /* #{$breakpoint} responsive flex classes */

        // Can't @extend due to media queries

        .flex-#{$breakpoint}-wrap {
            flex-wrap: wrap
        }

        .flex-#{$breakpoint}-nowrap {
            flex-wrap: nowrap;
        }

        /* #{$breakpoint} responsive-margins classes */

        /*
            !important because margins are
            usually set in style tags
        */
        .no-margin-#{$breakpoint} {
            margin-right: initial !important;
            margin-left: initial !important;
        }

        /* #{$breakpoint} responsive text align classes */

        .text-left-#{$breakpoint} {
            text-align: left;
        }

        .text-center-#{$breakpoint} {
            text-align: center;
        }

        .text-right-#{$breakpoint} {
            text-align: right;
        }

        /* #{$breakpoint} display classes */

        .block-#{$breakpoint} {
            display: block;
        }

        .flex-#{$breakpoint} {
            display: flex;
        }

        .inline-block-#{$breakpoint} {
            display: inline-block;
        }

        tr.flex-#{$breakpoint} {
            flex-wrap: wrap;
        }

        .white-rows tbody tr {
            &.block-#{$breakpoint}, &.flex-#{$breakpoint} {
                overflow: hidden;
                background: get-color(ffffff);
            }
        }
    }

    @include media-breakpoint-up($breakpoint) {

        // Visible classes
        @include responsive-visible($breakpoint);
    }
}

/* Breakpoint-independent classes */

.img-fluid img, img.img-fluid {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}
