////
///     This file contains all border-radius related styles.
////

/**************************************************

Border-radius classes

**************************************************/

// Basic border-radius classes
@for $k from 1 through 4 {
    $radius: $k * 5;
    $border-radius: px-to-rem($radius * 1px);

    .roundy-#{$radius} {
        border-radius:  $border-radius;
    }

    .roundytr-#{$radius} {
        border-top-right-radius: $border-radius;
    }

    .roundybr-#{$radius} {
        border-bottom-right-radius: $border-radius;
    }

    .roundybl-#{$radius} {
        border-bottom-left-radius: $border-radius;
    }

    .roundytl-#{$radius} {
        border-top-left-radius: $border-radius;
    }

    .roundytop-#{$radius} {
        @extend .roundytl-#{$radius}, .roundytr-#{$radius};
    }

    .roundyright-#{$radius} {
        @extend .roundytr-#{$radius}, .roundybr-#{$radius};
    }

    .roundybottom-#{$radius} {
        @extend .roundybl-#{$radius}, .roundybr-#{$radius};
    }

    .roundyleft-#{$radius} {
        @extend .roundytl-#{$radius}, .roundybl-#{$radius};
    }

}

// Unit-less aliases
.roundy {
    @extend .roundy-#{$unitless-roundyness};
}

.roundytr {
    @extend .roundytr-#{$unitless-roundyness};
}

.roundybr {
    @extend .roundybr-#{$unitless-roundyness};
}

.roundybl {
    @extend .roundybl-#{$unitless-roundyness};
}

.roundytl {
    @extend .roundytl-#{$unitless-roundyness};
}

.roundytop {
    @extend .roundytop-#{$unitless-roundyness};
}

.roundyright {
    @extend .roundyright-#{$unitless-roundyness};
}

.roundybottom {
    @extend .roundybottom-#{$unitless-roundyness};
}

.roundyleft {
    @extend .roundyleft-#{$unitless-roundyness};
}

.roundy-full {
    border-radius: 50%;
}

// Have no clue why this works, but this is CSS, it's not meant to make sense
.roundy-full-sides {
    border-radius: 1000rem;
}

// Advanced border-radius classes

.roundy-footer {
    @extend .roundybottom;

    tbody {
        tr:last-of-type {
            @include roundy-end-table-cells(bottom);
        }
    }

    &.grid > :last-of-type {
        @include roundy-end-grid-cells(bottom);
    }
}

.roundy-header {
    @extend .roundytop;

    // thead is sometimes added by browsers to contain th elements.
    thead, tbody:only-child {
        tr:first-of-type {
            @include roundy-end-table-cells(top);
        }
    }

    &.grid > :first-of-type {
        @include roundy-end-grid-cells(top);
    }
}

.roundy-corners {
    @extend .roundy-header, .roundy-footer;
}
