////
///     This file contains all border-radius related styles.
////

/**************************************************

Border-radius classes

**************************************************/

// Basic border-radius classes
@for $radius from 1 through 20 {
    $border-radius: $radius / 10 * 1rem;

    .roundy-#{$radius} {
        @include border-radius($border-radius);
    }

    .roundytr-#{$radius} {
        @include border-top-right-radius($border-radius);
    }

    .roundybr-#{$radius} {
        @include border-bottom-right-radius($border-radius);
    }

    .roundybl-#{$radius} {
        @include border-bottom-left-radius($border-radius);
    }

    .roundytl-#{$radius} {
        @include border-top-left-radius($border-radius);
    }

    .roundytop-#{$radius} {
        @extend .roundytl-#{$radius}, .roundytr-#{$radius};
    }

    .roundyright-#{$radius} {
        @extend .roundytr-#{$radius}, .roundybr-#{$radius};
    }

    .roundybottom-#{$radius} {
        @extend .roundybl-#{$radius}, .roundybr-#{$radius};
    }

    .roundyleft-#{$radius} {
        @extend .roundytl-#{$radius}, .roundybl-#{$radius};
    }

}

.roundy-full {
    @include border-radius(50%);
}

// Unit-less aliases
.roundy {
    @extend .roundy-#{$unitless-roundyness};
}

.roundytr {
    @extend .roundytr-#{$unitless-roundyness};
}

.roundybr {
    @extend .roundybr-#{$unitless-roundyness};
}

.roundybl {
    @extend .roundybl-#{$unitless-roundyness};
}

.roundytl {
    @extend .roundytl-#{$unitless-roundyness};
}

.roundytop {
    @extend .roundytop-#{$unitless-roundyness};
}

.roundyright {
    @extend .roundyright-#{$unitless-roundyness};
}

.roundybottom {
    @extend .roundybottom-#{$unitless-roundyness};
}

.roundyleft {
    @extend .roundyleft-#{$unitless-roundyness};
}

// Advanced border-radius classes
.roundy-footer {
    tr:last-of-type {
        td, th {
            &:first-child {
                @extend .roundybl;
            }

            &:last-child {
                @extend .roundybr;
            }
        }
    }
}

.roundy-corners {
    @extend .roundy-footer;

    tr:first-of-type {
        td, th {
            &:first-child {
                @extend .roundytl;
            }

            &:last-child {
                @extend .roundytr;
            }
        }
    }
}
