////
///     This file contains the styles for the sidebar.
////

/**************************************************

Sidebar styles

**************************************************/

nav[id='p-Pokémon Central'], div[id="p-Pok.C3.A9mon_Central"] {

    [id^="n-"] a::before {
        @extend %icon;
        margin-right: 0.5em;
        height: 1.125em;
        width: 1.125em;
        content: '';
    }

    // Standard icons
    @each $icon-id in _pluck($icons, 'id') {
        #n-#{$icon-id} a::before {
            @extend %icon-#{$icon-id};
        }
    }

    // Pokémon Central logo variations
    @each $logo-id in $pc-logos {
        #n-#{$logo-id} a::before {
            @extend %icon-#{$logo-id};
        }
    }
}
