////
///     This file holds all solid color utility functions.
////

///
/// Returns a comma-separated list suitable to
/// be a CSS selector for solid color classes.
///
/// @param {string} $css-prop - The CSS property where the color will be used.
/// @param {List} $aliases - The color name aliases: they will have a class each.
/// @param {string} $variant - The color variant.
/// @param {string} $sep [-] - Words separator in single CSS class names.
/// @return {List} Comma-separated list of CSS classes.
///
@function make-solid-color-selector($css-prop, $aliases, $variant, $sep: '-') {
    $selector: sl-comma-list();

    @each $alias in $aliases {
        $alias-selector: sl-to-string(sl-purge($css-prop $alias $variant), $sep);
        $selector: append($selector, '.#{$alias-selector}');
    }

    @return $selector;
}
