////
///     This file contains all functions used to retrieve
///     single variations of related data.
////

///
/// Returns a color, picking it from colors table.
/// When 'text' variant is specified and it does
/// not exist for the chosen color, the most contrasting
/// with the standard color out of background color
/// and black is returned.
///
/// @param {string} $name - The name of the color to be picked.
/// @param {string} $shade [normal] - The shade of the color to be returned.
/// @return {color} The requested color, in the required shade.
///
@function get-color($name, $shade: normale) {
    $shade: to-lower-case($shade);

    // Normalizing 'normale' key aliases
    @if sl-contain(med std, $shade) {
        $shade: normale;
    }

    $hex: map-get-deep($colors, $name, $shade);

    @if $hex == null and $shade == text {
        @return contrast-color(get-color($name));
    }

    @return $hex;
}
